input[type='checkbox'] {
  visibility: hidden;

  & + label {
    position: relative;
  }

  & + label::before {
    content: '\a0';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -1.5em;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    border-radius: 0.1em;
    border: 1px solid #eee;
    background-color: #fff;
    box-sizing: border-box;
  }

  &:checked + label::before {
    content: '\2713';
    background-color: blue;
  }
}

@mixin triangle-top($bdWidth: 10px, $bdColor: #eee, $bgColor: #fff) {
  position: relative;
  background: $bgColor;
  border: 1px solid $bdColor;

  &:before {
    content: '';
    position: absolute;
    left: 19px;
    bottom: 100%;
    border: ($bdWidth + 1px) solid transparent;
    border-bottom-color: $bdColor;
  }

  &:after {
    content: '';
    position: absolute;
    left: 20px;
    bottom: 100%;
    border: $bdWidth solid transparent;
    border-bottom-color: $bgColor;
  }
}
